// remove default anchor link styling of link rows in Table
td > a,
.bp3-dark td > a {
  color: unset;
  &:hover {
    color: unset;
    text-decoration: unset;
  }
}

// Remove blueprint default underline decoration for all anchor tags!! annoying.
a {
  color: $light-green1;
}
a:hover {
  text-decoration: none;
  color: $light-green2;
}
