.bp3-tab {
  @include pt-button-base();
  @include pt-button-minimal();
  padding: 0 8px;
  margin: 0 4px !important;
  height: 50px;
  font-size: 12px;
  font-weight: 800;
  user-select: none;
}

.bp3-tab[aria-selected="true"] {
  color: $dark-gray5;
  &:hover {
    color: $dark-gray5;
  }
}

.bp3-tab[aria-selected="false"] {
  color: $light-green1;
  &:hover {
    color: $dark-gray5;
  }
}

.bp3-tab-indicator-wrapper .bp3-tab-indicator {
  background-color: $light-green1;
  bottom: 9px;
  border-radius: 4px;
  height: 3px;
}

.full-tabs {
  & .bp3-tab {
    @include pt-button-base();
    @include pt-button-minimal();
    padding: 0 8px;
    margin: 0 4px !important;
    height: 50px;
    font-size: 12px;
    font-weight: 800;
    user-select: none;
  }

  & .bp3-tab[aria-selected="true"] {
    color: $dark-gray5;
    &:hover {
      color: $dark-gray5;
    }
  }

  & .bp3-tab[aria-selected="false"] {
    color: $dark-gray5;
    &:hover {
      color: $light-green1;
    }
  }

  & .bp3-tab-indicator-wrapper .bp3-tab-indicator {
    background-color: rgba(15, 153, 96, 0.3);
    bottom: 13px;
    border-radius: 8px;
    height: 23px;
  }
}
