@font-face {
  font-family: SF-UI-Display-Bold;
  src: url(../../assets/fonts/SF-UI-Display-Bold.ttf);
}
@font-face {
  font-family: SF-UI-Text-Bold;
  src: url(../../assets/fonts/SF-UI-Text-Bold.ttf);
}
